@page
@model BadmintonRentingRazorWebApp.Pages.ScheduleView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.ScheduleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartTimeFrame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartTimeFrame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.EndTimeFrame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.EndTimeFrame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.TotalHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.TotalHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Schedule?.ScheduleId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
